body {
	background: #EEE;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}
header {
	height: 58px;
	background: #000;
	color: #FFF;
	overflow: hidden;
}
header h1 {
	float: left;
}
header nav ul {
	float: right;
	height: 58px;
}
header nav li {
	display: block;
	float: left;
	font-size: 18px;
	font-weight: bold;
	margin: 8px 0 0 0;
	text-align: center;
}
header nav li a {
	display: block;
	padding: 0px 15px;
	text-transform: uppercase;
	color: #FFF;
}
#content {
	width: 985px;
	margin: 0 auto;
}